<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pair Matching</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../src/stylesheets/styles.css">

    
  </head>
  <body class="pairImage">

    <div class='container'>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
            <div class="jumbotron" id="login">
              <h2>Welcome to YOPO</h2>
              <h4>A new Pairadigm in Pair Programming</h4>     
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-3 col-xs-offset-4 col-sm-offset-4 col-md-offset-5">
              <a class="btn btn-primary btn-lg" href="/auth/github">Login with GitHub</a>
            </div>
          </div>
        </div>
    </div>

  
  </body>
</html>
