<script></script> 
<script id='layout' type='text/x-handlebars-template'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">YOPO</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" class="getpartner">Get Partner</a></li>
        <li><a href="#" class="editprofile">Edit Profile</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="/logout">Logout</a></li>
    </div>
  </nav>
  <div class='container'>
    <div class="row">
      <div class="col-md-6 col-centered" id="container">
      </div>
    </div>
  </div>
  
</script>

<script id='getPartner' type='text/x-handlebars-template'>
  <div class="jumbotron">
    <h1>Hello, <%-  %>!</h1>
    <button type="button" class="btn btn-primary populatePartners">Click Here To get your Partner</button>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
   <button type="button" class="btn btn-primary populatePartners">Click Here To get your Partner</button>
</script>

<script>
  $(function(){
    debugger;
    Yopo.init();
    Yopo.userInfo = <%-data %>
  });

  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>

<script src='/client/app1.js'></script>
<!-- <script src='/client/getPartnerView.js'></script>
<script src='/client/teammates.js'></script>
<script src='/client/router.js'></script> -->
<!--  <ul>
        <li><a href='#' class='index'>All Links</a></li>
        <li><a href='#' class='create'>Shorten</a></li>
        <li><a href='/logout' class='logout'>Log out</a></li>
      </ul> -->