.col-centered{
    float: none;
    margin: 0 auto;
}

.text-centered{
  text-align: center;
}

.create{
  padding: 10px;
  margin-left: 20px;
}

#signuptext{
  text-align:center;
  margin-left:60px;
}